<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="details">
      <h2><%= blog.title %></h2>
      <div class="datails">
        <p><%=blog.body %></p>
        <img src="<%=blog.imgURL %>" alt="" />
      </div>

      <a class="delete" data-doc="<%= blog._id %>">delete</a>
    </div>
    <a class="single" href="/recipes/<%= blog._id %>">
      <button class="btn btn-info mt-2">Jump to Recipe</button>
    </a>
    <%- include("./partials/footer.ejs") %>

    <script>
      const trashcan = document.querySelector("a.delete");
      trashcan.addEventListener("click", (e) => {
        const endpoint = `/blogs/${trashcan.dataset.doc}`;
        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => response.json())
          .then((data) => (window.location.href = data.redirect))
          .catch((err) => console.log(err));
      });
    </script>
  </body>
</html>
